*.aux
*.bak
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.ipynb_checkpoints/*
*.log
*.orig
*.out
*.rtf
*.sav
*.sublime-workspace
*.synctex(busy)
*.synctex.gz
*.tmp
*.xdv
*__pycache__/*
*temp*
*~$*.docx
*~$*.tex
*~$*.xls
*~$*.xlsx
.~lock*
__pycache__
latex/*.pdf